i {
  font-size: 30px;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-youtube-squaret {
  color: #ff0000;
}

.fa-instagram-square {
  color: #833ab4;
}
.fa-github-square {
  color: #bd2c00;
}

.fa-money-bill-alt {
  color: #a896a0;
}
